<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de farmacia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/js/assets/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/sweetalert2/css/sweetalert.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sistema farmacia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Crear">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Personal" asp-action="Crear">Personal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Laboratorio" asp-action="Crear">Laboratorio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Presentacion" asp-action="Crear">Presentacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Medicamentos" asp-action="Crear">Medicamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Inventario" asp-action="Crear">Inventario</a>
        </li>*@


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Crear">Categorias</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Personal" asp-action="Crear">Personal</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Laboratorio" asp-action="Crear">Laboratorio</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Presentacion" asp-action="Crear">Presentacion</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Medicamentos" asp-action="Crear">Medicamento</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Inventario" asp-action="Crear">Inventario</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Ventas">Ventas</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Compras">Compras</a>
                        </li>
                        

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Farmacia sistema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <link rel="stylesheet" href="~/js/assets/bootstrap/js/bootstrap.min.js" />
    <script type="text/javascript" src="~/sweetalert2/js/sweetalert.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">

    $.extend({ MisUrls: { url: {}, urls: function (a) { $.extend($.MisUrls.url, a); } } });

    $.MisUrls.urls({ _EliminarCategoria: '@Url.Action("Eliminar", "Categorias")' });
    </script>
</body>
</html>
