@model SIstemaFarmaciaFinal.Models.Inventario;
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="width:100%" ;>
    <div class="col-6">
        <h2 class="text-primary">Inventario</h2>
    </div>
    <div class="col-4 text-right">
        <button type="button" onclick="Limpiar()" class="btn btn-info form-control" data-toggle="modal" data-target="#MiModal">Agregar al inventario</button>
    </div>


</div>

<div class="p-4 border rounded bg-light">
    <table id="TblDatos" class="table table-bordered table-responsive-lg" style="width: 90%">
        <thead class="thead-dark">
            <tr class="table-info">
                <td>Id inventario</td>
                <td>Fecha</td>
                <td>Nombre comercial</td>
                <td>Stock inicial</td>
                <td>Entradas</td>
                <td>Salidas</td>
                <td>Stock actual</td>
                <td>Precio preventa</td>
                <td>Costo preventa</td>
                <td>Id presentacion med</td>
                <td>Id laboratorio</td>
                <td>Id compras</td>
                <td>Acciones</td>
            </tr>
        </thead>
    </table>

</div>

@*Crear la ventana modal*@
<div class="modal fade" id="MiModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class=" modal-content">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h2 class="modal-title text-primary text-center">Agregar al inventario</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div style="padding-left:15%; padding-right:15%; padding-bottom:30px;">
                        <div class="row p-3 border-0">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>

                        <input type="hidden" id="IdInventario" class="form-control" asp-for="IdInventario" />

                        <div class="form-row" style="padding-top:14px;">
                            <label>Fecha entrada </label>
                            <div class="form-group col-4">
                                <input asp-for="FechaEntradaInventario" id="FechaEntradaInventario" class="form-control" placeholder="Fecha entrada" />
                                <span asp-validation-for="FechaEntradaInventario" class="text-danger"></span>

                            </div>
                            @*si llevara otro campo*@
                            @*<div class="form-group col-md-6">
            <label>Nombre</label>
            <input asp-for="Nombrecategoria" class="form-control" placeholder="Nombres" />
            <span asp-validation-for="Nombrecategoria" class="text-danger"></span>

        </div>*@
                        </div>
                        @*como la descripcion es mas grande*@
                        <div class="form-group col">
                            <label>Nombre comercial</label>
                            <input asp-for="NombreComercial" id="NombreComercial" class="form-control" placeholder="NombreComercial" />
                            <span asp-validation-for="NombreComercial" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Stock inicial</label>
                            <input asp-for="StockInicial" id="stockInicial" class="form-control" placeholder="Stock inicial" />
                            <span asp-validation-for="StockInicial" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Entradas</label>
                            <input asp-for="Entradas" id="Entradas" class="form-control" placeholder="Entradas" />
                            <span asp-validation-for="Entradas" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Salidas</label>
                            <input asp-for="Salidas" id="Salidas" class="form-control" placeholder="Salidas" />
                            <span asp-validation-for="Salidas" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Stock actual</label>
                            <input asp-for="StockActual" id="StockActual" class="form-control" placeholder="Stock actual" />
                            <span asp-validation-for="StockActual" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Precio preventa</label>
                            <input asp-for="PrecioPreventa" id="PrecioPreventa" class="form-control" placeholder="Precio preventa" />
                            <span asp-validation-for="PrecioPreventa" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Costo preventa</label>
                            <input asp-for="CostoPreventa" id="CostoPreventa" class="form-control" placeholder="Costo preventa" />
                            <span asp-validation-for="CostoPreventa" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Id presentación</label>
                            <input asp-for="IdPresentacionMed" id="IdPresentacionMed" class="form-control" placeholder="Id presentación" />
                            <span asp-validation-for="IdPresentacionMed" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Id laboratorio</label>
                            <input asp-for="IdLaboratorio" id="IdLaboratorio" class="form-control" placeholder="Id laboratorio" />
                            <span asp-validation-for="IdLaboratorio" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label>Id compras</label>
                            <input asp-for="IdCompra" id="IdCompra" class="form-control" placeholder="Id compra" />
                            <span asp-validation-for="IdCompra" class="text-danger"></span>
                        </div>
                        @*<div class="form-row">
            <div class="form-group col-md-6">
                <label>estado</label>
                <select asp-for="Estado" id="Estado" class="form-control">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>

            </div>
        </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Ventana</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>

            </form>
        </div>

    </div>

</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/JSInventario.js"></script>

}

